

table{
    border:2px double black;
    margin:auto;
}
td{
    border:2px solid grey;
}

tr:nth-child(2n+1){
    background-color:lightgrey;
}
tr:nth-child(2n){
    background-color:white;
}
thead tr td{
    background-color:black;
    color:white;
}

form div{
    display:inline-block;
    width:45%;
    position:relative;
    text-align:center;
    padding-top:100px;
    margin:auto;
}

form div.adres {
float:right;
margin-right:5%;
    padding-top:150px;
}
form div.buttons {
    line-height:50px;
       width:100%;
    margin:auto;
}

.buttons input{
    width:200px;
    height:50px;
    margin-right:25px;
    margin-left:25px;
}
 .table{
     position:relative;
     margin:auto;
     width:auto;
     height:200px;
     padding: 0 0 0 0;
     overflow-y:scroll;

 }

 form div.priorytet {
    left:50%;
}
 .priorytet h2{
     margin-top:130px;
 }
 form{
     text-align:center;
 }