<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Moje rejestracje</title>
    <link rel="stylesheet" type="text/css" href="../CSS/main.css" />
</head>
<body>
    <div id="menu">
        <h1>
            <img class="icon" src="../Pics/icon.jpg" alt="Tu będzie ikona ale nie chcialo mi sie jej szukac" />
            Witamy  w naszym mobilnym gabinecie!
            <img src="../Pics/icon.jpg" alt="Tu będzie ikona ale nie chcialo mi sie jej szukac" class="icon" />
        </h1>
        <nav>
            <ul>
                <li><a href="oferta.html">Przeglądaj ofertę</a></li>
                <li><a href="historia.html"  class="current">Historia rejestracji</a></li>
                <li><a href="main.html">O nas</a></li>
                <li><a href="Kontakt.html">Kontakt</a></li>
                <li><a href="logowanie.html">Wyloguj</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>